.container {
    padding-top: 0px;
    margin-top: 0px;
    width: 100%;
    min-height: 100vh;
    color: black;
    background-color: whitesmoke;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.summaryContainer {
    background-color: darkcyan;
    padding-bottom: 0px;
    width: 100%;
    
}



.taskContainer{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: solid pink */
}
